spring:
  security:
    oauth2:
      client:
        registration:
          github:
            client-id: Ov23liY3CJ4ctXT00X8n
            client-secret: 1d19dce3b8e460390b12fb36fd3847afbb9a9e69
            scope:
              - read:user
              - user:email